@import "style.css";

article h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
  font-size: 3rem;

}
article{
  padding-right: 10%;
  padding-left: 5%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  font-size: 1.3rem
}
@media (max-width: 500px) {
  article h2{
    font-size: 9vw
  }
  article{
    font-size: 3.9vw
  }

}

article h2 strong:nth-child(1){
  color:#ff7675
}
article h2 strong:nth-child(2){
  color:#00b894
}

@-webkit-keyframes fadeIn{
  0%{
    transform: translate(0, -3rem);
    opacity: 0;
  }
  100%{
    opacity:1
  }
}
